.header {
  position: absolute;
  padding: 70px 50px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  @include r(760) {
    padding: 10px;
  }
}
.logo {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  @include r(760) {
    position: inherit;
    margin: 0 auto;

    width: 150px;
  }
  &__img {
    @include r(760) {
      position: inherit;
      margin: 0 auto;
      width: 150px;
    }
  }
}
.nav {
  @include r(1024) {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    font-size: 20px;
    color: $white;
  }
}
