.hero {
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @include r(960) {
    background-position: center right;
    height: 95vh;
  }
}

.registration {
  display: flex;
  justify-content: space-between;
  color: $white;

  @include r(960) {
    font-size: 16px;
  }

  @include r(760) {
    font-size: 22px;
    flex-direction: column;
    align-items: center;
  }

  @include r(375) {
    font-size: 18px;
  }

  &__promocode {
    max-width: 255px;
    text-align: center;

    @include r(960) {
      margin-bottom: 20px;
    }

    @include r(760) {
      max-width: 100%;
    }
  }

  &__promocode-btn {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(164, 90, 24, 0.5);
    box-shadow: -2px 0px 14px 10px rgba(248, 194, 117, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s, border 0.3s;

    &:not(:last-child) {
      margin-right: 5px;
    }

    @include r(760) {
      width: 50px;
      height: 50px;
      background-size: cover;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &:hover {
      border: 2px solid rgba(164, 90, 24, 0.8);
      box-shadow: none;
    }
  }

  &__promocode-img {
    display: flex;
  }

  &__box {
    text-align: center;
  }

  &__box-btn {
    padding: 20px 60px 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    color: #fffefe;
    background: linear-gradient(
      180deg,
      rgb(4, 51, 83),
      rgb(4, 124, 189),
      rgb(4, 51, 83)
    );
    border-radius: 10px;
    transition: all 0.3s;
    &:hover {
      background: linear-gradient(
        180deg,
        rgb(0, 110, 186),
        rgb(74, 180, 238),
        rgb(0, 98, 165)
      );
      box-shadow: 0px 1px 16px 6px rgba(4, 116, 196, 0.8);
    }

    @include r(1024) {
      font-size: 16px;
      padding: 10px 20px;
    }

    @include r(760) {
      font-size: 20px;
      padding: 10px 20px;
      width: 100%;
    }

    & span {
      color: #9c9c9c;
      font-size: 12px;
    }
  }

  &__box-info {
    @include r(760) {
      margin-bottom: 20px;
    }
  }

  &__box-info span {
    color: #f8c275;
  }

  &__promocode-timer {
    position: relative;
    display: flex;

    &--left {
      justify-content: center;
    }
  }
}

.clock {
  position: absolute;
  right: -10px;
  top: 1px;
  display: flex;
  margin-left: 5px;
  color: #f8c275;

  @include r(960) {
    right: 15px;
  }

  & span {
    padding-left: 7px;
  }
}
