.hero {
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @include r(1024) {
    padding-bottom: 10px;
  }
}

.registration {
  display: flex;
  justify-content: space-between;
  color: $white;
  @include r(1024) {
    font-size: 14px;
  }
  @include r(660) {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__promocode {
    max-width: 255px;
    text-align: center;
    @include r(1024) {
      margin-bottom: 15px;
    }
  }

  &__promocode-btn {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    @include r(1024) {
      width: 25px;
      height: 25px;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
  &__promocode-img {
    display: flex;
  }
  &__box {
    text-align: center;
  }
  &__box-btn {
    padding: 20px 60px 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    color: #fffefe;
    background: linear-gradient(
      180deg,
      rgb(37, 0, 251) 42%,
      rgb(113, 129, 247) 92%
    );
    border-radius: 10px;
    @include r(1024) {
      padding: 10px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    & span {
      color: #9c9c9c;
      font-size: 12px;
    }
  }
  &__box-info {
    @include r(1024) {
      margin-bottom: 15px;
    }
  }
  &__box-info span {
    color: #f8c275;
  }
  &__promocode-timer {
    position: relative;
    display: flex;
    &--left {
      justify-content: center;
    }
  }
}
.clock {
  position: absolute;
  right: -10px;
  top: 1px;
  display: flex;
  margin-left: 5px;
  color: #f8c275;
  & span {
    padding-left: 7px;
  }
}
