<section class="about">
  <div class="container about__container">
    <h2 class="title about__title">Найт-Сити изменит тебя навсегда!</h2>
    <p class="about__descr">
      <span class="descr-highlighted">Cyberpunk 2077</span> &nbsp;&mdash; приключенческая ролевая игра, действие которой происходит в&nbsp;мегаполисе Найт-Сити, где власть, роскошь
      и&nbsp;модификации тела ценятся выше всего. Ты&nbsp;играешь за&nbsp;V, наёмника в&nbsp;поисках устройства, позволяющего обрести бессмертие. Ты&nbsp;сможешь менять
      киберимпланты, навыки и&nbsp;стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на&nbsp;ход сюжета и&nbsp;всё, что тебя окружает.
    </p>
    <div class="about__images">
      <div class="about__left">
        <div class="about__img angle-slice">
          <img class="angle-slice" src="images/about/about-1.jpg" alt="найт сити">
        </div>
        <div class="about__img angle-slice">
          <img class="angle-slice" src="images/about/about-2.jpg" alt="найт сити">
        </div>
      </div>
      <div class="about__img angle-slice about__img--big">
        <img class="angle-slice" src="images/about/about-3.jpg" alt="найт сити">
      </div>
    </div>
  </div>
</section>
