<footer class="footer">
  <div class="container">
    <ul class="footer__list list-reset">
      <li class="footer__item">
        <a class="footer__link" href="">
          Новости
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Политика конфиденциальности
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Пользовательское соглашение
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Нарушения и наказания
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Форум
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Поддержка
        </a>
      </li>
    </ul>
  </div>

</footer>
