<section class="game">
  <div class="container game__container">
    <h2 class="title game__title">Играй и выигрывай!</h2>
    <p class="game__descr">
      Играй в&nbsp;<span class="descr-highlighted">Cyberpunk 2077</span>
      и&nbsp;получи возможность выиграть консоль<span class="descr-highlighted">Xbox Series X</span>
      &nbsp;или
      <span class="descr-highlighted">Sony PlayStation 5!</span> Заполни
      форму ниже и&nbsp;приложи скриншот о&nbsp;покупке игры. Итоги розыгрыша
      будут подведены 1&nbsp;февраля. Удачи! ;)
    </p>

    <div class="game__inner">
      <form action="№" class="game__form form">
        <label  class="form__label">
          <input type="text" class="form__input" />
        </label>
        <label  class="form__label">
          <input type="email" class="form__input" />
        </label>
        <label  class="form-label">
          <input type="file" class="form-label__file" />
          <span class="form__label__text">Прикрепить скриншот</span>
          <span class="form__label__image">.png / .jpg / .pdf</span>
        </label>
        <button class="form__btn btn-reset">Отправить</button>
        <label  class="form__checkbox checkbox">
          <input type="checkbox" class="checkbox__input" />
          <span class="checkbox__text">Согласен на обработку персональных данных</span>
        </label>
      </form>

      <img class="game__image" src="images/game/game-1.png" alt="" aria-hidden="true" />
    </div>
  </div>
</section>
