<section class="game">
  <div class="container game__container">
    <h2 class="title game__title">Играй и выигрывай!</h2>
    <p class="game__descr">
      Играй в&nbsp;<span class="game__descr-highlighted">Cyberpunk 2077</span> и&nbsp;получи возможность выиграть
      консоль<span class="game__descr-highlighted">Xbox Series X</span> &nbsp;или <span
        class="game__descr-highlighted">Sony PlayStation 5!</span> Заполни форму ниже и&nbsp;приложи скриншот
      о&nbsp;покупке игры. Итоги розыгрыша будут подведены 1&nbsp;февраля. Удачи! ;)
    </p>

    <form action="" class="game__form form">
      <label for="" class="form__label">
        <input type="text" class="form__input">
      </label>
      <label for="" class="form__label">
        <input type="email" class="form__input">
      </label>
      <label for="" class="form-label">
        <input type="file" class="form-label__file">
        <span class="form__label__text">Прикрепить скриншот</span>
        <span class="form__label__image">.png / .jpg / .pdf</span>
      </label>
    </form>


  </div>
</section>
