<header class="header">
  <div class="container">
    <a class="logo" href="#">
      <img class="logo__img" src="images/icons/logo.svg" alt="логотоп CiberPunk Promo">
    </a>

    <nav class="social" title="главное меню">
      <ul class=" social__list list-reset">
        <li class="social__item">
          <a class="social__link social__link--youtube" aria-label="киберпанк на ютубе" href="#"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--vk" aria-label="киберпанк во контакте" href="#"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--fb" aria-label="киберпанк в фейсбуке" href="#"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--twitter" aria-label="киберпанк в твиттере" href="#"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--twitch" aria-label="киберпанк на твитче" href="#"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--instagram" aria-label="киберпанк в инстаграме" href="#"></a>
        </li>

      </ul>
    </nav>
  </div>

</header>
