<header class="header">
  <div class="container">
    <a class="logo" href="#">
      <img class="logo__img" src="images/logo.png" alt="логотоп">
    </a>

    <nav class="nav" title="главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">На сайт</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Об игре</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Сообщество</a>
        </li>

      </ul>
    </nav>
  </div>

</header>
