<section class="hero">
  <h1 class="sr-only">игра battle of the immortals</h1>
  <div class="container">

    <div class="player">
      <div class="player__img">
        <img src="images/video.png" alt="" />
        <button class="player__btn btn-reset"></button>
      </div>

      <div class="player__info">
        <div class="player__info-box player__info-box--active" data-target="wan">
          <div class="player__title">При нажатии кнопок текст будет меняться!</div>
          <p class="player__text">
            Battle of The Immortals - уникальный проект всем известной китайской
            компании-разработчика Perfect World Entertainment
          </p>
        </div>
        <div class="player__info-box" data-target="two">
          <div class="player__title">И он правда меняется на что то другое Lorem </div>
          <p class="player__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quibusdam
            odit tempora, repudiandae labore est
          </p>
        </div>
        <button class="player__btn-bottom player__btn-bottom--active btn-reset" data-path="wan">
          об игре
        </button>
        <button class="player__btn-bottom btn-reset" data-path="two">
          о сервере
        </button>
      </div>
    </div>



    <div class="registration">
      <div class="registration__promocode">
        <div class="registration__promocode-title">
          Твой промокод: <span>“ATATA”</span>
        </div>
        <div class="registration__promocode-img">
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-1.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-2.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-3.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-4.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-5.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-6.png')"></button>
        </div>
        <div class="registration__promocode-timer">
          До конца действия:
          <div class="clock">
            <div>
              <span id="hour">00</span>
            </div>
            <div>
              <span id="minutes">00</span>
            </div>
            <div>
              <span id="seconds">00</span>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="registration__box">
        <button class="registration__box-btn btn-reset">
          зарегистрироваться <br />
          <span> и начать игру через 2 минуты</span>
        </button>
        <div class="registration__box-info">
          Текущий онлайн: <span>1720</span> человек<br />
          Заходи и убедись сам!
        </div>
      </div>

      <div class="registration__promocode">
        <div class="registration__promocode-title">
          Подарок при регистрации:
        </div>
        <div class="registration__promocode-img">
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-7.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-8.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-9.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-10.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-11.png')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-12.png')"></button>
        </div>
        <div class="registration__promocode-timer registration__promocode-timer--left">Успей получить его!</div>
      </div>
    </div>
  </div>
</section>
