<section class="hero">
  <div class="container">
    <div class="registration">
      <div class="registration__promocode">
        <div class="registration__promocode-title">
          Твой промокод: <span>“ATATA”</span>
        </div>
        <div class="registration__promocode-img">
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-2.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-2.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-3.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-4.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-5.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-6.jpg')"></button>
        </div>
        <div class="registration__promocode-timer">
          До конца действия:
          <div class="clock">
            <div>
              <span id="hour">00</span>
            </div>
            <div>
              <span id="minutes">00</span>
            </div>
            <div>
              <span id="seconds">00</span>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="registration__box">
        <button class="registration__box-btn btn-reset">
          зарегистрироваться <br />
          <span> и начать игру через 2 минуты</span>
        </button>
        <div class="registration__box-info">
          Текущий онлайн: <span>1720</span> человек<br />
          Заходи и убедись сам!
        </div>
      </div>

      <div class="registration__promocode">
        <div class="registration__promocode-title">
          Подарок при регистрации:
        </div>
        <div class="registration__promocode-img">
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-7.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-8.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-9.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-4.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-5.jpg')"></button>
          <button class="registration__promocode-btn btn-reset"
            style="background-image: url('images/runa-6.jpg')"></button>
        </div>
        <div class="registration__promocode-timer registration__promocode-timer--left">Успей получить его!</div>
      </div>
    </div>
  </div>
</section>
