<section class="hero">
  <h1 class="visually-hidden">промо киберпанк</h1>

  <div class="swiper-container hero__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('images/slider/slide-1.jpg');"></div>
      <div class="swiper-slide" style="background-image: url('images/slider/slide-2.jpg');"></div>
      <div class="swiper-slide" style="background-image: url('images/slider/slide-3.jpg');"></div>
    </div>
  </div>

  <div class="container hero__container">
    <div class="hero-info angle-slice">
      <h2 class="hero-info__title title">Доступно на всех платформах</h2>
      <button class="hero-info__btn btn-reset btn">Узнать больше</button>
    </div>

  </div>
</section>
