<section class="hp">
  <div class="container hp__container">

    <div class="hp__left">
      <img class="hp__monitor" src="images/hp/monitor.png" alt="монитор hp">
      <div class="hp__logos">
        <a href="" class="hp__logo">
          <img src="images/icons/hp-logo.svg" alt="логотоп hp">
        </a>
        <span class="logos-separator"></span>
        <a href="" class="hp__logo">
          <img src="images/icons/logo.svg" alt="логотип киберпанк">
        </a>
      </div>
    </div>

    <div class="hp__right">
      <h2 class="title hp__title">Полное погружение вместе с HP</h2>
      <p class="hp__descr">
        Погрузись в&nbsp;современные экшен-игры с&nbsp;реалистичным изображением с&nbsp;помощью монитора
        с&nbsp;диагональю 23,8&nbsp;дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать
        на&nbsp;любые события с&nbsp;временем отклика 1&nbsp;мс и&nbsp;частотой в&nbsp;144&nbsp;Гц!
      </p>
      <ul class="hp__list list-reset">
        <li class="hp__item" style="background-image: url('images/icons/polytra.svg');">Яркие насыщенные цвета</li>
        <li class="hp__item" style="background-image: url('images/icons/stars.svg');">Кристальная четкость изображения
        </li>
        <li class="hp__item" style="background-image: url('images/icons/gameplay.svg');">Кристальная четкость изображения</li>
      </ul>
      <button class="hp__btn btn-reset">Подробнее</button>
    </div>


  </div>
</section>
