<div class="player">
  <div class="player__img">
    <img src="images/bg-1.jpg" alt="" />
    <button class="player__btn btn-reset"></button>
  </div>

  <div class="player__info">
    <div class="player__info-box player__info-box--active" data-target="wan">
      <div class="player__title">При нажатии кнопок текст будет меняться!</div>
      <p class="player__text">
        Battle of The Immortals - уникальный проект всем известной китайской
        компании-разработчика Perfect World Entertainment
      </p>
    </div>
    <div class="player__info-box" data-target="two">
      <div class="player__title">И он правда меняется</div>
      <p class="player__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quibusdam
        odit tempora, repudiandae labore est
      </p>
    </div>
    <button class="player__btn-bottom player__btn-bottom--active btn-reset" data-path="wan">
      об игре
    </button>
    <button class="player__btn-bottom btn-reset" data-path="two">
      о сервере
    </button>
  </div>
</div>
